<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Business :: Stock manager</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <div class="container">
      <header class="my-4">
        <h1>My Business</h1>
        <h2>Stock Manager</h2>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    th:href="@{/suppliers/all}"
                    >List All Suppliers <i class="bi bi-list-ol"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    th:href="@{/products/all}"
                    >Products <i class="bi bi-box-seam"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <section class="p-5 rounded mb-4 bg-grad-0">
        <h2 class="text-center text-white">Suppliers List</h2>
      </section>
      <section class="my-4">
        <div class="row mb-1">
          <div class="col-6 d-flex align-items-center">
            <!-- 'Export To' Drop down  -->
            <div class="dropdown me-2">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Export To.. <i class="bi bi-box-arrow-up-left"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <form th:action="@{/docs/export/pdf}" name="pdf_form">
                    <input type="hidden" name="from" value="suppliers" />
                    <button
                      class="dropdown-item"
                      type="submit"
                      title="Create a new PDF document with the information from the table."
                    >
                      PDF <i class="text-danger bi bi-filetype-pdf"></i>
                    </button>
                  </form>
                </li>
                <li>
                  <form th:action="@{/docs/export/excel}" name="excel_form">
                    <input type="hidden" name="from" value="suppliers" />
                    <button
                      class="dropdown-item"
                      type="submit"
                      title="Create a new Excel document with the information from the table."
                    >
                      Excel
                      <i
                        class="text-success bi bi-file-earmark-spreadsheet"
                      ></i>
                    </button>
                  </form>
                </li>
              </ul>
            </div>

            <!-- 'Import From' Drop down -->
            <div class="dropdown me-2">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Import From.. <i class="bi bi-box-arrow-in-down-left"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    id="importCsv"
                    data-bs-toggle="modal"
                    data-bs-target="#csvUploadFormModal"
                    >CSV
                    <i class="bi bi-filetype-csv"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    id="importExcel"
                    data-bs-toggle="modal"
                    data-bs-target="#excelUploadFormModal"
                    >Excel
                    <i class="text-success bi bi-file-earmark-spreadsheet"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 text-end">
            <a class="btn btn-success" th:href="@{/suppliers/new}">
              Add New Supplier <i class="bi bi-plus-square-fill"></i>
            </a>
          </div>
        </div>

        <!-- Main Table -->
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
              <th scope="col">Updated At</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${#lists.isEmpty(suppliers)}">
              <td colspan="6" class="text-center">
                <h4 class="display-6">No Suppliers Was Register</h4>
                <p>(<a th:href="@{/suppliers/new}">Add</a>)</p>
              </td>
            </tr>
            <tr th:each="sup : ${suppliers}">
              <!-- Info -->
              <td th:text="${sup.id}"></td>
              <td th:text="${sup.name}"></td>
              <td th:text="${sup.phoneNumber}"></td>
              <td th:text="${sup.address}"></td>
              <td
                th:text="${#temporals.format(sup.updatedAt, 'dd/MM/yyyy - HH:mm:ss')}"
              ></td>

              <!-- Actions -->
              <td>
                <a
                  class="me-2"
                  th:if="${sup.id == 1}"
                  href="#"
                  data-bs-toggle="tooltip"
                  data-bs-title="Default Supplier can't be edit or remove"
                  ><i class="bi bi-info-circle"></i
                ></a>
                <a
                  th:href="@{/suppliers/details/{id}(id=${sup.id})}"
                  class="btn btn-sm btn-primary"
                  title="See all information"
                  >See Detail <i class="bi bi-eye"></i>
                </a>
                <a
                  th:if="${sup.id != 1}"
                  th:href="@{/suppliers/update/{id}(id=${sup.id})}"
                  class="btn btn-sm btn-success"
                  title="Edit supplier´s information"
                  >Edit <i class="bi bi-pencil"></i>
                </a>
                <button
                  th:if="${sup.id != 1 }"
                  class="btn btn-sm btn-danger"
                  th:attr="data-supplier-id=${sup.id}, data-supplier-name=${sup.name}"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmDeleteModal"
                  th:onclick="setEntityIdToDelete([[${sup.id}]],'supplierIdToDelete')"
                  ;
                >
                  Delete <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <footer class="text-center my-4">
        <p>&copy; 2024 My Business</p>
      </footer>
    </div>

    <!-- Modal for button "delete" -->
    <div
      class="modal fade"
      id="confirmDeleteModal"
      tabindex="-1"
      aria-labelledby="confirmDeleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">
              Confirm Deletion
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this supplier? This action cannot be
            undone.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <form
              id="deleteForm"
              th:action="@{/suppliers/delete}"
              method="post"
            >
              <input type="hidden" name="id" id="supplierIdToDelete" value="" />
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for csv upload Form -->
    <div
      class="modal fade"
      id="csvUploadFormModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="csvUploadFormLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="csvUploadFormLabel">
              Upload CSV File
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="csvForm"
              method="post"
              enctype="multipart/form-data"
              th:action="@{/docs/import/csv}"
            >
              <input type="hidden" name="from" value="suppliers" />
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#csvInfoModal"
                >
                  To keep in mind <i class="bi bi-exclamation-circle-fill"></i>
                </button>
              </div>
              <div class="mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="csvFile"
                  name="csvFile"
                  accept=".csv"
                  aria-describedby="lbl1"
                />
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for excel upload Form -->
    <div
      class="modal fade"
      id="excelUploadFormModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="excelUploadFormLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="excelUploadFormLabel">
              Upload Excel File
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="excelForm"
              method="post"
              enctype="multipart/form-data"
              th:action="@{/docs/import/excel}"
            >
              <input type="hidden" name="from" value="suppliers" />
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-warning"
                  data-bs-toggle="modal"
                  data-bs-target="#excelInfoModal"
                >
                  To keep in mind <i class="bi bi-exclamation-circle-fill"></i>
                </button>
              </div>
              <div class="mb-3">
                <input
                  type="file"
                  class="form-control"
                  id="excelFile"
                  name="xlsxFile"
                  accept=".xls,.xlsx"
                />
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Scrollable modal csv info -->
    <div
      class="modal fade"
      id="csvInfoModal"
      tabindex="-1"
      aria-labelledby="excelInfoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="csvInfoModalLabel">
              <i class="bi bi-info-circle"></i> Things to Keep in Mind Before
              Upload a <i>.csv</i> file
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ol>
              <li>
                <h5>File Format</h5>
                <ul>
                  <li>
                    <strong>File Extension:</strong> Make sure the file has the
                    extension .csv.
                  </li>
                  <li>
                    <strong>Encoding:</strong> The file must be encoded in UTF-8
                    to avoid problems with special characters.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Structure and Content</h5>
                <ul>
                  <li>
                    <strong>Headers:</strong> The first record (row) must
                    contain the column headers.
                  </li>
                  <li>
                    <strong>Field Separator:</strong> Fields must be separated
                    by commas (,) or other specified delimiter.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Data Format</h5>
                <ul>
                  <li>
                    <strong>Consistency:</strong> Make sure that all records
                    follow the same format.
                  </li>
                  <li>
                    <strong>Dates:</strong> If the file contains dates, make
                    sure they are in the expected format.
                  </li>
                </ul>
              </li>

              <li>
                <h5>Required Data</h5>
                <ul>
                  <li>
                    <strong>Required Fields:</strong> Check that all required
                    fields are present.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-target="#csvUploadFormModal"
              data-bs-toggle="modal"
            >
              Back to form
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Scrollable modal excel info -->
    <div
      class="modal fade"
      id="excelInfoModal"
      tabindex="-1"
      aria-labelledby="excelInfoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-center" id="excelInfoModalLabel">
              <i class="bi bi-info-circle"></i> Things to Keep in Mind Before
              Upload a File <i>.xls,</i> <i>.xlsx</i>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ol>
              <li>
                <h5>Internal Document Structure</h5>
                <ul>
                  <li>
                    <strong>Headings:</strong> Make sure that the first record
                    (row) contains clear column headers and that they match the
                    names expected by the system.
                  </li>
                  <li>
                    <strong>Cell Formatting:</strong> Check that cells are in
                    the correct format. For example, cells that should contain
                    dates should be formatted as dates, and numeric cells should
                    be formatted as numbers.
                  </li>
                  <li>
                    <strong>Consistent Data:</strong> Make sure that all data in
                    each column is of the same type (e.g., only numbers in
                    numeric columns, only text in text columns).
                  </li>
                  <li>
                    <strong>Rows and Columns:</strong> Rows and columns should
                    be well defined and not contain unnecessary empty cells in
                    critical places.
                  </li>
                </ul>
              </li>
              <li>
                <h5>Required Data</h5>
                <ul>
                  <li>
                    <strong>Required Fields:</strong> Verify that all required
                    fields are present in each row. Missing required fields can
                    cause errors during import.
                  </li>
                  <li>
                    <strong>Valid Data:</strong> Make sure that all data is
                    valid and in the expected format. For example, if a phone
                    number is expected, verify that the data is valid numbers.
                  </li>
                </ul>
              </li>
              <li>
                <h5>Data Format</h5>
                <ul>
                  <li>
                    <strong>Dates:</strong> If the file contains dates, make
                    sure that all dates are in the expected format (e.g.,
                    `YYYY-MM-DD`, `MM/DD/YYYY`).
                  </li>
                  <li>
                    <strong>Numeric Values:</strong> Make sure that numeric
                    values ​​do not contain non-numeric characters, such as
                    commas or symbols.
                  </li>
                </ul>
              </li>
              <li>
                <h5>Encoding</h5>
                <ul>
                  <li>
                    <strong>File Encoding:</strong> Although `.xls` and `.xlsx`
                    files typically use a proprietary binary encoding, make sure
                    that there are no problems with special characters that may
                    not be supported by the import system.
                  </li>
                </ul>
              </li>
              <li>
                <h5>Validation and Cleanup</h5>
                <ul>
                  <li>
                    <strong>Duplicates:</strong> Checks the file for duplicate
                    records that could cause problems in the database or import
                    system.
                  </li>
                  <li>
                    <strong>Errors:</strong> Looks for obvious errors in the
                    data, such as invalid characters, empty cells where they
                    shouldn't be, or data that is out of range.
                  </li>
                </ul>
              </li>
            </ol>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-target="#excelUploadFormModal"
              data-bs-toggle="modal"
            >
              Back to form
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
  </body>
</html>
